*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box-wrapper{
    border: 6px solid black;
    display: flex;
    text-align: center;
    /* text-transform: uppercase; */
}
.box{
    border: 2px solid red;
    padding: 10px;
}
.box h2{
    padding-bottom: 8px;
    text-transform: uppercase;
}
.box1{
    background-color: lightblue;
}
.box2{
    background-color: lightcoral;
}
.box3{
    background-color: lightgray;
}
.box4{
    background-color: lightseagreen;
}
.box5{
    background-color: lightgoldenrodyellow;
}